* {
    margin: 0;
    font-family: 'Poiret One', cursive;

} 

#nav {
    height: 50px;
    width: 100%;
    background-color: rgba(174, 168, 211, 1);
    display: flex;
    justify-content: space-around;
}


.link {
    display: flex;
    text-decoration: none;
    font-family: 'Poiret One', cursive;
    align-items: center;
    font-size: 20px;
    color: rgb(67, 15, 102);
}

.link:hover {
    color: rgb(211, 112, 129);
}

#home {
    display: flex;
    justify-content: center;
    position: relative;
}

#welcome {
    position: absolute;
    margin-top: 150px;
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    font-size: 13px;
    /* visibility: hidden;
    opacity: 0; */
}


#noFace {
    height: 475px;
    display: flex;
    /* justify-content: center; */
    position: absolute;
    transition: visibility 2s 0s, opacity 2s linear;

}

#noFace:hover {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

#mappedContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    padding: 1% 5%;
}

#buttonContainer {
    display: flex;
    justify-content: center;

}

button {
    background-color: white;
    size: 1em;
    padding: 8px 16px;
    color:rgb(211, 112, 129);
    transition-duration: 0.4s;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 35px;
}

button:hover {
    background-color: rgb(211, 112, 129);
    size: 1em;
    padding: 8px 16px;
    color: white;
}

#filmInfo {
    border: 10px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(#fff, #fff), linear-gradient(rgb(211, 112, 129), rgb(67, 15, 102));
    border-radius: 10px;
    padding: 1%;
    margin: 3% 5%;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr) */
}
#infoCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
/* #filmInfo:hover {
    box-shadow: 10px 10px 25px rgba(0, 0, 0, .3);
} */


#about {
    padding: 1%;
    margin: 3% 5%;
    display: grid;
    grid-template-columns: 1fr;
    /* justify-content: center; */
}

/* #totoro {
    width: 50%;
    margin: auto;

} */

header {
    display: flex;
    justify-content: center;
    margin: 1em 0;
    position: relative;
}

#petals {
    position: absolute;
}


@media (max-width: 866px) {
    #mappedContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }    

    .filmLink {
        justify-content: center;

    }
}

@media (max-width: 650px) {
    #headerPic {
        width: 75%;
        height: auto;
    }
}



@media (max-width: 560px) {
    #mappedContainer {
        display: grid;
        grid-template-columns: 1fr;
    } 
}
@media (max-width: 485px) {
    #headerPic {
        width: 85%;
        height: auto;
    }
}
@media (max-width: 429px) {
    #mappedContainer {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .filmLink {
        justify-content: center;

    }
}
